# Ignore node_modules in both frontend and backend
frontend/node_modules/
frontend/.env/
backend/node_modules/
backend/keys/
node_modules/
# Optional - Common things to ignore
.env
.DS_Store
*.log
npm-debug.log*
dist/
build/
